<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>right</key>
	<dict>
		<key>Domain</key>
		<string>https://devserver.api.myrightone.com/apiv3/</string>
		<key>Identifier</key>
		<string></string>
		<key>RequestCachePolicy</key>
		<integer>0</integer>
		<key>TimeoutIntervalForRequest</key>
		<integer>10</integer>
		<key>TimeoutIntervalForResource</key>
		<integer>10</integer>
		<key>GeneralHeaders</key>
		<dict/>
		<key>GeneralParameters</key>
		<dict/>
	</dict>
</dict>
</plist>
